**DATASET ANALYSIS**

*Importing Libraries and then loading datasets*

In [1]:
# IMPORTING NECESSARY LIBRARIES

import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [2]:
# Training Dataset
train_df = pd.read_csv('https://raw.githubusercontent.com/Revati-N/AI-DS-Projects/main/Titanic/Datasets/train.csv')
train_df.Name = 'Training Set'

In [3]:
# Testing Dataset
test_df = pd.read_csv('https://raw.githubusercontent.com/Revati-N/AI-DS-Projects/main/Titanic/Datasets/test.csv')
test_df.Name = 'Testing Set'

In [4]:
#Combining Dataset
full_df = pd.concat([train_df, test_df], sort=True).reset_index(drop=True)
full_df.Name = 'Full Set'

*Dataset Information*

In [5]:
# Display basic information about the dataset
print(full_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Age          1046 non-null   float64
 1   Cabin        295 non-null    object
 2   Embarked     1307 non-null   object
 3   Fare         1308 non-null   float64
 4   Name         1309 non-null   object
 5   Parch        1309 non-null   int64
 6   PassengerId  1309 non-null   int64
 7   Pclass       1309 non-null   int64
 8   Sex          1309 non-null   object
 9   SibSp        1309 non-null   int64
 10  Survived     891 non-null    float64
 11  Ticket       1309 non-null   object
dtypes: float64(3), int64(4), object(5)
memory usage: 122.8+ KB
None

In [6]:
# Display basic statistics
print(full_df.describe())

               Age         Fare        Parch  PassengerId       Pclass  \
count  1046.000000  1308.000000  1309.000000  1309.000000  1309.000000
mean     29.881138    33.295479     0.385027   655.000000     2.294882
std      14.413493    51.758668     0.865560   378.020061     0.837836
min       0.170000     0.000000     0.000000     1.000000     1.000000
25%      21.000000     7.895800     0.000000   328.000000     2.000000
50%      28.000000    14.454200     0.000000   655.000000     3.000000
75%      39.000000    31.275000     0.000000   982.000000     3.000000
max      80.000000   512.329200     9.000000  1309.000000     3.000000

             SibSp    Survived
count  1309.000000  891.000000
mean      0.498854    0.383838
std       1.041658    0.486592
min       0.000000    0.000000
25%       0.000000    0.000000
50%       0.000000    0.000000
75%       1.000000    1.000000
max       8.000000    1.000000

In [9]:
# Check for missing values
print(full_df.isnull().sum())

Age             263
Cabin          1014
Embarked          2
Fare              1
Name              0
Parch             0
PassengerId       0
Pclass            0
Sex               0
SibSp             0
Survived        418
Ticket            0
dtype: int64

In [8]:
full_df.head()

,Age,Cabin,Embarked,Fare,Name,Parch,PassengerId,Pclass,Sex,SibSp,Survived,Ticket
0,22.0,NaN,S,7.2500,Full Set,0,1,3,male,1,0.0,A/5 21171
1,38.0,C85,C,71.2833,Full Set,0,2,1,female,1,1.0,PC 17599
2,26.0,NaN,S,7.9250,Full Set,0,3,3,female,0,1.0,STON/O2. 3101282
3,35.0,C123,S,53.1000,Full Set,0,4,1,female,1,1.0,113803
4,35.0,NaN,S,8.0500,Full Set,0,5,3,male,0,0.0,373450

In [7]:
print('Oldest Passenger was of:',train_df['Age'].max(),'Years')
print('Youngest Passenger was of:',train_df['Age'].min(),'Years')
print('Average Age on the ship:',train_df['Age'].mean(),'Years')

Oldest Passenger was of: 80.0 Years
Youngest Passenger was of: 0.42 Years
Average Age on the ship: 29.69911764705882 Years