*Importing Libraries and Datasets*

In [1]:
# IMPORTING NECESSARY LIBRARIES

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
#Books
books = pd.read_csv('https://raw.githubusercontent.com/Revati-N/AI-DS-Projects/main/Book_Recommendation_System/Datasets/Books.csv')
books.head()

In [ ]:
books.dtypes

In [ ]:
#Ratings
ratings = pd.read_csv('https://raw.githubusercontent.com/Revati-N/AI-DS-Projects/main/Book_Recommendation_System/Datasets/Ratings.csv')
ratings.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [ ]:
ratings.dtypes

In [ ]:
#Users
users = pd.read_csv('https://raw.githubusercontent.com/Revati-N/AI-DS-Projects/main/Book_Recommendation_System/Datasets/Users.csv')
users.head()

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [ ]:
users.dtypes

*Processing*

In [ ]:
print("Books: null values\n",books.isna().sum(),"\n")
print("Ratings: null values\n",ratings.isna().sum(),"\n")
print("Users: null values\n",users.isna().sum())

Books: null values
 ISBN                   0
Book-Title             0
Book-Author            2
Year-Of-Publication    0
Publisher              2
Image-URL-S            0
Image-URL-M            0
Image-URL-L            3
dtype: int64

Ratings: null values
 User-ID        0
ISBN           0
Book-Rating    0
dtype: int64

Users: null values
 User-ID          0
Location         0
Age         110762
dtype: int64

In [ ]:
users.drop(columns=['Age'], inplace=True)

In [ ]:
#Finding Duplicates

print("Books:",books.duplicated().sum())
print("Ratings: ",ratings.duplicated().sum())
print("Users: ",users.duplicated().sum())

Books: 0
Ratings:  0
Users:  0